@keyframes moveTruck {
    0% {
      transform: translateX(-400px) translateY(0);
    }
    25% {
      transform: translateX(0) translateY(100px);
    }
    50% {
      transform: translateX(400px) translateY(0);
    }
    75% {
      transform: translateX(0) translateY(-100px);
    }
    100% {
      transform: translateX(-400px) translateY(0);
    }
  }
  